{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonjour Zakaria</h1>


    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}